.wrapper {
  position: fixed;
  inset: 0;
  background-color: #00000080;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.backdrop {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.dialog {
  border-radius: 20px;
  position: relative;
  background-color: #4a4458;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
}

.dialog__message {
  text-align: center;
  color: #fff;
  font-size: 32px;
}

.dialog__close {
  position: absolute;
  top: 20px;
  right: 20px;
  border: 0;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;
  font-size: 24px;
  transform: rotate(45deg);
  background-color: #e8def8;
}

.dialog__close:hover {
  opacity: 0.75;
}

@media (max-width: 768px) {
  .dialog__message {
    padding: 0 90px;
  }
}

@media (max-width: 580px) {
  .dialog__message {
    padding: 0 10px;
  }
}
