:host {
  width: 100%;
}

.container {
  background-color: #4A4458;
  padding: 20px 20px 40px;
  border-radius: 20px;
}

.container__scores {
  text-align: center;
  color: #fff;
  font-size: 32px;
}

.container__control {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.field {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  max-height: 65vh;
  aspect-ratio: 1;
  margin: auto;
}

.field-item {
  background-color: #3b82f6;
  border-radius: 5px;
  transition: background-color 200ms;
}

.field-item_active {
  background-color: yellow;
  cursor: pointer;
}

.field-item_active:hover {
  scale: 1.1;
}

.field-item_user {
  background-color: #22c55e;
}

.field-item_computer {
  background-color: #ef4444;
}

@media (max-width: 768px) {
  .container__control {
    flex-direction: column;
    align-items: normal;
    gap: 24px;
  }
}

@media (max-width: 480px) {
  .container__scores {
    font-size: 24px;
  }
}
