.input-wrapper {
  display: flex;
  gap: 10px;
  flex-direction: column;
  position: relative;
}

.input-label {
  font-size: 24px;
  color: #fff;
}

.input {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid #001c6c;
  color: #001c6c;
  font-weight: bold;
}

.input::placeholder {
  font-weight: 400;
}

.input-error {
  position: absolute;
  bottom: -10px;
  transform: translateY(100%);
  color: #F2B8B5;
  font-weight: bold;
}

@media (max-width: 480px) {
  .input-label {
    font-size: 16px;
  }
}
