.input-wrapper {
  display: flex;
  gap: 11px;
  flex-direction: column;
}

.input-label {
  font-size: 24px;
  color: #001c6c;
}

.input {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid #001c6c;
  color: #001c6c;
  font-weight: bold;
}

.input::placeholder {
  font-weight: 400;
}

.input-error {
  color: #dc2626;
  font-weight: bold;
}

@media (max-width: 480px) {
  .input-label {
    font-size: 16px;
  }
}
