.container {
  padding: 50px 100px;
  min-height: 100vh;
  position: relative;
  background-color: #1d192b;
  font-family: sans-serif;
}

.container__main {
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container__footer {
  margin-top: 50px;
  text-align: right;
}

.container__footer a {
  color: #fff;
}

.title {
  font-size: 57px;
  text-align: center;
  color: #fff;
}

.rules__title {
  color: #fff;
  font-size: 32px;
}

.rules__list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-size: 16px;
  color: #fff;
}

@media (max-width: 680px) {
  .container {
    padding: 50px 25px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 32px;
  }

  .rules__title {
    font-size: 24px;
  }

  .rules__list {
    font-size: 20px;
  }
}
