<div class="container">
  <div class="container__header">
    <h1 class="title">Міні Гра</h1>
    <div class="rules">
      <h2 class="rules__title">
        Ласкаво просимо до нашої захоплюючої гри! Ось правила, за якими ви
        будете грати:
      </h2>
      <ul class="rules__list">
        <li>
          Перш ніж почати гру, вам потрібно ввести час у мілісекундах. Це буде
          час, який ви будете мати для кліку на виділену комірку.
        </li>

        <li>
          Після натискання на кнопку "Почати", випадкова комірка на полі буде
          виділена жовтим кольором. У вас буде N мілісекунд, щоб швидко клікнути
          на виділену комірку.
        </li>

        <li>
          Якщо ви успішно впораєтеся за цей час, комірка зміниться на зелений
          колір, і ви отримаєте одне очко. Якщо ви не встигаєте клікнути на
          комірку протягом відведеного часу, вона стане червоною, і комп'ютер
          отримає одне очко.
        </li>

        <li>
          Гра триває, доки один із учасників не набере 10 очок. Якщо це
          відбудеться, гра припиняється, і ви побачите повідомлення про
          результати гри у спливаючому вікні.
        </li>
      </ul>
    </div>
    <div class="scores"></div>
  </div>
  <div class="container__main">
    <app-field></app-field>
  </div>
  <div class="container__control">
    <app-input></app-input>
    <app-button>Почати</app-button>
  </div>
</div>
