.container {
  padding: 50px 100px;
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
  background-image: linear-gradient(
    0deg,
    rgb(219 234 254) 0%,
    white 20%,
    white 80%,
    rgb(219 234 254) 100%
  );
}

.container__main {
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container__footer {
  margin-top: 50px;
  text-align: right;
}

.title {
  font-size: 48px;
  text-align: center;
  color: #001c6c;
}

.rules__title {
  color: #0036cf;
  font-size: 32px;
}

.rules__list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-size: 24px;
}

@media (max-width: 680px) {
  .container {
    padding: 50px 25px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 32px;
  }

  .rules__title {
    font-size: 24px;
  }

  .rules__list {
    font-size: 20px;
  }
}
