.button {
  border: none;
  border-radius: 30px;
  padding: 16px 36px;
  background-color: #001c6c;
  cursor: pointer;
}

.button:disabled {
  opacity: 0.5;
  cursor: auto;
}

.button:hover {
  opacity: 0.5;
}

.button__text {
  font-size: 27px;
  color: #fff;
  font-weight: bold;
}

@media (max-width: 480px) {
  .button__text {
    font-size: 24px;
  }
}
